# Functional components
snippet rf "react functional ES6" b
import React from "react"

const ${1:`!p snip.rv = snip.basename`} = () => {
	return(
		<div>
			${2:<p>Body</p>}
		</div>
		)
}

export default $1
endsnippet

